<%if(message.length>0){ %>
            <div class = "alert alert-success">
                <%=message%>
            </div>
<%}%>
<div class="form-group">
    <label for="rollno">Rollno</label>
    <input required value="<%=result.rollno%>" type="text" name="rollno" id="rollno" class="form-control">
</div>
<div class="form-group">
    <label for="name">Name</label>
    <input required value = "<%=result.name%>" type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="dob">Date Of Birth</label>
    <input required value = "<%=result.dob%>" type="date" name="dob" id="dob" min="<?php echo $today; ?>" class="form-control">
</div>
<div class="form-group">
    <label for="score">Score</label>
    <input required value = "<%=result.score%>" type="number" name="score" id="score" class="form-control">
</div>
<a href="/teacher" class="btn btn-secondary mt-2">Cancel</a>
<button type="submit" class="btn btn-primary mt-2">Save</button>